{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Vintage 4tk cassette recorders - An online 4tk cassette recorders inventory.</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'common.css' %}" rel="stylesheet" rel="preload" as="style" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet" />
  </head>
  <body>
    {% include "includes/header.html" %}
    <main class="SiteMain limit">
      {% block sidebar %}
        {% if sidebar %}
          {% include "includes/sidebar.html" %}
        {% endif %}
      {% endblock sidebar %}
      <div class="SiteMain-content">
        {% block breadcrumbs %}
          {% if breadcrumbs %}
            {% include "includes/breadcrumbs.html" %}
          {% endif %}
        {% endblock breadcrumbs %}
        {% block main %}{% endblock main %}
      </div>
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>
