{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Vintage 4tk cassette recorders - An online 4tk cassette recorders inventory.</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'common.css' %}" rel="stylesheet" rel="preload" as="style" />
  </head>
  <body>
    {% include "includes/header.html" %}
    <main class="SiteMain limit">
      {% block main %}{% endblock main %}
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>
