@import "./includes/variables.css";
@import "./includes/reset.css";
@import "./includes/utils.css";

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a,
a:visited {
  color: var(--hi);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.SiteHeader {
  border-bottom: var(--border-main);
  padding-bottom: var(--air);
  padding-top: var(--air);
}

.SiteMain {
  padding-bottom: var(--air-l);
  padding-top: var(--air-l);
}

.SiteFooter {
  border-top: var(--border-main);
  padding-bottom: var(--air);
  padding-top: var(--air);
}

.MainNav {
  display: flex;
}

.MainNav-link {
  display: block;
  padding-bottom: var(--air);
  padding-top: var(--air);
}

.MainNav-link--about {
  margin-left: auto;
}

.BrandCards {
  display: grid;
  grid-gap: var(--air);
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  list-style: none;
  margin-top: var(--air-l);
}

.BrandCard-link {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60px;
  border: var(--border-main);
  border-radius: 6px;
  padding-left: var(--air);
  padding-right: var(--air);
}

.BrandCard-link:hover {
  background-color: var(--papiro);
}
