@import "./includes/variables.css";
@import "./includes/reset.css";
@import "./includes/utils.css";
@import "./includes/header.css";
@import "./includes/main.css";
@import "./includes/footer.css";
@import "./includes/mainnav.css";
@import "./includes/breadcrumbs.css";
@import "./includes/sidebar.css";
@import "./includes/cards.css";
@import "./includes/recorder.css";

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a,
a:visited {
  color: var(--hi);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

input {
  border: var(--border-main);
  padding: var(--air-s);
}

[type="submit"] {
  background-color: var(--white-d);
  cursor: pointer;
}
