{% load thumbnail %}

<li class="BrandCard">
  <a href="{{ brand.get_absolute_url }}" class="BrandCard-picture_link">
    {% with brand.picture.brand_card as picture %}
      <img
        src="{{ picture.url }}"
        alt="{{ brand.name }} logo"
        width="{{ picture.width }}"
        height="{{ picture.height }}"
      />
    {% endwith %}
    <p class="sr-only">Visit models of the brand {{ brand.display_name }}</p>
  </a>
  <h3>
    <a href="{{ brand.get_absolute_url }}" class="BrandCard-text_link">{{ brand.display_name }}</a>
  </h3>
</li>
