{% load thumbnail %}

<li class="RecorderCard">
  <a href="{{ recorder.get_absolute_url }}" class="RecorderCard-picture_link">
    {% with recorder.picture.recorder_card as picture %}
      <img
        src="{{ picture.url }}"
        alt="{{ recorder.brand }} {{ recorder.model }}"
        width="{{ picture.width }}"
        height="{{ picture.height }}"
      />
    {% endwith %}
    <p class="sr-only">Visit {{ recorder.brand }} {{ recorder.model }} detail.</p>
  </a>
  <h3>
    <a href="{{ recorder.get_absolute_url }}" class="RecorderCard-text_link">{{ recorder.model|capfirst }}</a>
  </h3>
</li>
