.BrandCards,
.RecorderCards {
  display: grid;
  grid-gap: var(--air);
  grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
  list-style: none;
  margin-top: var(--air-l);
}

.BrandCard-picture_link,
.RecorderCard-picture_link {
  align-items: center;
  border: var(--border-main);
  border-color: var(--white-dd);
  display: flex;
  height: 180px;
  justify-content: center;
  padding: var(--air);
  transition: transform 0.1s;
}

.BrandCard-picture_link:hover,
.RecorderCard-picture_link:hover {
  border-color: var(--black);
  transform: translateY(-4px);
}

.BrandCard-text_link,
.RecorderCard-text_link {
  display: inline-block;
  margin-top: var(--air-s);
}
