.limit {
  max-width: var(--width-l);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--air);
  padding-right: var(--air);
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
