:root {
  --width-l: 1200px;

  --black: black;
  --white: white;
  --white-d: #eee;
  --white-dd: #d0d1d3;
  --hi: blue;
  --papiro: #ede8cd;

  --air-s: 10px;
  --air: 20px;
  --air-l: 40px;

  --font-main: "Work Sans", sans-serif;
  --border-main: 1px solid var(--black);
}
